{
    "presets": [
        "es2015",  
        ["env", {
    
          "targets": {
    
            "browsers": ["last 2 versions", "IE 10"]
    
          }
    
        }]
      ],
      "plugins": ["transform-runtime"]
    
}